@font-face {
    font-family: fredoka-bold;
    src: url("./assets/fonts/Fredoka-SemiBold.ttf");
    font-weight:bold;
}
@font-face {
    font-family: fredoka-semibold;
    src: url("./assets/fonts/Fredoka-SemiBold.ttf");
    font-weight:bold;
}
@font-face {
    font-family: fredoka-semibold;
    src: url("./assets/fonts/Fredoka-Regular.ttf");
    font-weight:bold;
}
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: fredoka-bold;
}

html {
    width: 100%;
    height: 100%;
    display: table;
    margin: auto;
}
body {
    margin: 0px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
    display: table-cell;
    vertical-align: middle;
}

h1 {
    margin: 0%;
}

p {
    margin: 0%;
    font-family: fredoka-semibold;
}

.profilePicture {
    width:150px;
    border-radius: 1000px;
}

.head {
    margin: 0px;
    text-align:center;
}

.i-img {
    width: 40px;
    height: 40px;
    filter: invert(100%);
}

.interactable-button {
    margin-top: 10px;
    animation: onButtonLeave 0.3s cubic-bezier(.17,.67,.33,.93) forwards;
}

.buttons {
    display: flex;
    justify-content:space-between;
    max-width:400px;
    margin-left: auto;
    margin-right: auto;
}

.interactable-button:hover {
    animation: onButtonHover 0.3s cubic-bezier(.17,.67,.33,.93) forwards;
}

@keyframes onButtonHover {
    from{
        width: 40px;
        opacity: 100%;
        transform: scale(1,1);
    }
    to{
        width: 80px;opacity: 50%;
        transform: scale(1.2,1.2);
    }
}

@keyframes onButtonLeave {
    from{width: 80px;opacity: 50%;transform: scale(1.2,1.2);}
    to{
        width: 40px;opacity: 100%;
        transform: scale(1,1);
    }
}