@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css?family=JetBrains Mono");
:root {
    --background: #0a0a0f;
    --foreground: #f0f4ff;
    --accent1: #0060FF;
    --accent2: #00FFF7;
    --gradient: linear-gradient(135deg, var(--accent1) 0%, var(--accent2) 100%);
}

* {
    font-family: 'Outfit', sans-serif;
}

html {
    font-size: 14px; /* Default is 16px */
}
  
body {
    background: var(--background);
    color: var(--foreground);
    overflow-x: hidden;
}

code {
    font-family: "JetBrains Mono", monospace;
}

.gradient-text {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.glass-effect {
    background: rgba(15, 15, 25, 0.5);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.glass-effect-nb {
    background: rgba(15, 15, 25, 0.5);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.hover-scale {
    transition: transform 0.3s ease;
}

.hover-scale:hover {
    transform: translateY(-3px);
}

.core-swing {
    animation: sway 5s ease-in-out infinite;
}
.core-swing2 {
    animation: sway 5s ease-in-out infinite 0.5s;
}
@keyframes sway {
    0% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

@keyframes move-grid {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 80px 80px;
    }
}

@keyframes rotate-blob {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.2;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.3;
    }
}

.animate-move-grid {
    animation: move-grid 20s linear infinite;
}

.animate-rotate-blob {
    animation: rotate-blob 60s linear infinite;
}

.animate-pulse {
    animation: pulse 10s ease-in-out infinite;
}

.animation-delay-2000 {
    animation-delay: 2s;
}

.hr-custom {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.15), transparent);
    margin: 20px 0;
}
