---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css"
import CatAscii from "../assets/cat.txt?raw";
---

<Layout title="Woah, cat?">
    <h2 class="mt-50 text-5xl md:text-6xl font-bold text-center w-fit mx-auto mb-12 gradient-text" data-aos="fade-up">
        Cat
        <span class="block mt-2 font-normal text-xl md:text-2xl">You found a secret! Here's a cat ASCII art for you.</span>
    </h2>
    <pre class="mx-auto w-fit" data-aos="fade-up" data-aos-delay="200"><code>{CatAscii}</code></pre>
</Layout>
