---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Socials">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2
            class="mt-50 text-5xl md:text-6xl font-bold text-center w-fit mx-auto mb-12 gradient-text"
            data-aos="fade-up"
        >
            Socials
            <span class="block mt-2 font-normal text-xl md:text-2xl">
                Here's a quick glance of my socials!
                <span class="block mt-2 font-normal text-sm md:text-md">
                    Everything in here is not final design-wise.
                </span>
            </span>
        </h2>

        <hr class="border-gray-800" />

        <!-- GitHub -->
        <section id="github" class="py-20 px-4 sm:px-6 lg:px-8">
            <div class="max-w-7xl mx-auto">
                <h2
                    class="text-5xl md:text-6xl font-bold text-center w-fit mx-auto mb-12 gradient-text"
                    data-aos="fade-up"
                >
                    GitHub
                    <span class="block mt-2 font-normal text-xl md:text-2xl">
                        My code projects are public here.
                    </span>
                </h2>
                <div
                    class="bg-[rgb(10,10,10)]/10 glass-effect text-white p-6 rounded-xl w-full"
                    data-aos="fade-up"
                >
                    <div class="flex items-center space-x-4">
                        <img
                            src="https://github.com/corecathx.png"
                            class="size-16 rounded-full"
                            alt="GitHub Avatar"
                        />
                        <div>
                            <h3 class="text-2xl font-bold">CoreCat</h3>
                            <p class="text-gray-400">@corecathx</p>
                        </div>
                    </div>
                    <p class="mt-4 text-gray-300">I don't understand GitHub.</p>
                    <div class="bg-[rgb(10,10,10)]/10 glass-effect p-4 rounded-lg mt-4">
                        <p class="mt-4 text-gray-300 text-center">
                            Oh, look at these funny meaningless numbers! <br>
                            <span class='text-gray-600 text-sm'>
                                (jk lol i love this)
                            </span>
                        </p>
                        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-4">
                            <img class="w-full my-auto" src="https://github-readme-stats.vercel.app/api?username=corecathx&theme=github_dark&hide_border=true&include_all_commits=true&count_private=true" alt="" data-aos="fade-up">
                            <img class="w-full my-auto" src="https://nirzak-streak-stats.vercel.app/?user=corecathx&theme=github_dark&hide_border=true" alt="" data-aos="fade-up" data-aos-delay="100">
                            <img class="w-full my-auto" src="https://github-readme-stats.vercel.app/api/top-langs/?username=corecathx&theme=github_dark&hide_border=true&include_all_commits=true&count_private=true&layout=compact" alt="" data-aos="fade-up" data-aos-delay="200">
                        </div>

                    </div>
                    <a
                        href="https://github.com/corecathx"
                        class="inline-block mt-4 gradient-text"
                    >
                        Visit GitHub
                    </a>
                </div>
            </div>
        </section>

        <!-- X (Twitter) -->
        <section id="twitter" class="py-20 px-4 sm:px-6 lg:px-8">
            <div class="max-w-7xl mx-auto">
                <h2
                    class="text-5xl md:text-6xl font-bold text-center w-fit mx-auto mb-12 gradient-text"
                    data-aos="fade-up"
                >
                    X
                    <span class="block mt-2 font-normal text-xl md:text-2xl">
                        I occasionally post stuff here.
                    </span>
                </h2>
                <div
                    class="bg-[rgb(10,10,10)]/10 glass-effect text-white p-6 rounded-xl space-y-4 w-full"
                    data-aos="fade-up"
                >
                    <img 
                        src="https://pbs.twimg.com/profile_banners/1467712494458179585/1735036576/1500x500"
                        class="border border-white/10 rounded-lg"
                    >
                    <div class="flex items-center space-x-4">
                        <img
                            src="https://unavatar.io/x/core5570r"
                            class="size-16 rounded-full"
                            alt="Twitter Avatar"
                        />
                        <div>
                            <h3 class="text-2xl font-bold">CoreCat</h3>
                            <p class="text-gray-400">@corecathx</p>
                        </div>
                    </div>
                    <p class="mt-4 text-gray-300">
                        i do stuff (code, music, and art) // a cat (on the
                        internet) // 17
                    </p>
                    <a
                        href="https://x.com/core5570r"
                        class="inline-block gradient-text"
                    >
                        Visit X
                    </a>
                </div>
            </div>
        </section>

        <!-- YouTube -->
        <section id="youtube" class="py-20 px-4 sm:px-6 lg:px-8">
            <div class="max-w-7xl mx-auto">
                <h2
                    class="text-5xl md:text-6xl font-bold text-center w-fit mx-auto mb-12 gradient-text"
                    data-aos="fade-up"
                >
                    YouTube
                    <span class="block mt-2 font-normal text-xl md:text-2xl">
                        A place where I upload most of my stuff.
                    </span>
                </h2>
                <div
                    class="bg-[rgb(10,10,10)]/10 glass-effect text-white p-6 rounded-xl space-y-4 w-full"
                    data-aos="fade-up"
                >
                    <img 
                        src="https://yt3.googleusercontent.com/yRIH8rTUjvU527GWKYKmk0xXwPHPL-sLg8wjLX-TZ33bxtpl338KLFPh2-hVOV4RFI4RpGj2=w1138-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj"
                        class="border border-white/10 rounded-lg"
                    >
                    <div class="flex items-center space-x-4">
                        <img
                            src="https://unavatar.io/youtube/core5570r"
                            class="size-16 rounded-full"
                            alt="YouTube Avatar"
                        />
                        <div>
                            <div class='flex items-center gap-2'>
                                <h3 class="text-2xl font-bold">Core5570R</h3>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="12" viewBox="0 0 12 12" width="12" focusable="false" aria-hidden="true" style="pointer-events: none; display: inherit; width: 100%; height: 100%;"><g clip-path="url(#a_yt2122)"><path clip-rule="evenodd" d="M10.334 4.205a1.8 1.8 0 010 3.59 1.8 1.8 0 01-2.539 2.54 1.8 1.8 0 01-3.59-.001 1.8 1.8 0 01-2.538-2.539 1.8 1.8 0 010-3.59 1.8 1.8 0 012.538-2.539 1.8 1.8 0 013.59 0 1.8 1.8 0 012.539 2.539ZM6 3v2.668A1.75 1.75 0 107 7.25V4h1V3H6Z" fill-rule="evenodd"></path></g><defs><clipPath id="a_yt2122"><path d="M0 0h12v12H0z"></path></clipPath></defs></svg>
                            </div>
                            <p class="text-gray-400">@core5570r</p>
                        </div>
                    </div>
                    <p class="mt-4 text-gray-300">
                        I make stuff
                    </p>
                    <a
                        href="https://www.youtube.com/@core5570r"
                        class="inline-block gradient-text"
                    >
                        Visit Channel
                    </a>
                </div>
            </div>
        </section>
        
        <!-- Discord -->
        <section id="discord" class="py-20 px-4 sm:px-6 lg:px-8">
            <div class="max-w-7xl mx-auto">
                <h2
                    class="text-5xl md:text-6xl font-bold text-center w-fit mx-auto mb-12 gradient-text"
                    data-aos="fade-up"
                >
                    Discord
                    <span class="block mt-2 font-normal text-xl md:text-2xl">
                        A place where I actually read DMs.
                    </span>
                    <span class="block mt-2 font-normal text-sm md:text-md">
                        (/hj)
                    </span>
                </h2>

                <div
                    class="bg-[rgb(10,10,10)]/10 glass-effect text-white p-6 rounded-xl space-y-4 w-full"
                    data-aos="fade-up"
                >
                    <img
                        src="/images/catvibe.gif"
                        alt="Discord Banner"
                        class="border border-white/10 rounded-lg object-cover w-full h-48"
                    />
                    <div class="flex items-center space-x-4">
                        <img
                            src="https://cdn.discordapp.com/avatars/694791036094119996/08795150028fbab041c2cc9359bc5e43.webp?size=256"
                            alt="Discord Avatar"
                            class="size-16 rounded-full"
                        />
                        <div>
                            <div class="flex items-center gap-2">
                                <h3 class="text-2xl font-bold">CoreCat</h3>
                                <div class="glass-effect flex gap-2 p-1 rounded-lg">
                                    <img 
                                        src="https://cdn.discordapp.com/clan-badges/1369737270935945336/1e1d5a01d20062e6b770e392cdb43806.png?size=256"
                                        class='size-5'/>
                                    <span class="text-sm">HAXE</span>
                                </div>
                                <img 
                                    src="https://cdn.discordapp.com/badge-icons/3aa41de486fa12454c3761e8e223442e.png"
                                    class='size-5'>
                                <img 
                                    src="https://cdn.discordapp.com/badge-icons/6de6d34650760ba5551a79732e98ed60.png"
                                    class='size-5'>
                            </div>
                            <p class="text-gray-400">@core5570r</p>
                        </div>
                    </div>
                    <p class="mt-4 text-gray-300">
                        I do code, music, and draw stuff.
                    </p>
                    <a
                        href="https://discord.com/users/694791036094119996"
                        class="inline-block gradient-text"
                        target="_blank"
                    >
                        View Profile
                    </a>
                </div>
            </div>
        </section>

        <!-- Spotify -->
        <section id="spotify" class="py-20 px-4 sm:px-6 lg:px-8">
            <div class="max-w-7xl mx-auto">
                <h2
                    class="text-5xl md:text-6xl font-bold text-center w-fit mx-auto mb-12 gradient-text"
                    data-aos="fade-up"
                >
                    Spotify
                    <span class="block mt-2 font-normal text-xl md:text-2xl">
                        Some of my songs are here too.
                    </span>
                </h2>
                </h2>
                <iframe
                    class="rounded-xl w-full h-[352px]"
                    src="https://open.spotify.com/embed/artist/5p0Zxa2eYgAr6iz04evSCL?utm_source=generator"
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                    loading="lazy"
                    data-aos="fade-up"></iframe>
            </div>
        </section>
    </div>
</Layout>
