---
const socials = [
  { icon: "fab fa-github", link: "https://github.com/corecathx" },
  { icon: "fab fa-discord", link: "https://discord.com/users/694791036094119996" },
  { icon: "fab fa-youtube", link: "https://youtube.com/@core5570r" },
];
---

<div class="flex items-center justify-center md:justify-end space-x-4">
    {socials.map((social) => (
        <a href={social.link} class="text-gray-400 hover:text-[var(--accent2)] transition-all duration-200">
            <i class={social.icon + " text-2xl"}></i>
        </a>
    ))}
</div>