---
const { text, desc } = Astro.props;
---

<div class='text-center mb-12 w-fit mx-auto' data-aos="fade-up">
    <h1 class="text-5xl md:text-6xl w-fit pb-2 font-extrabold gradient-text mx-auto">
        {text}
    </h1>
    <h2 class="font-bold text-white mt-2 text-xl md:text-2xl">
        {desc}
    </h2>
</div>