---
import "../../styles/global.css";
---

<html>
    <head>
        <meta http-equiv="refresh" content="0; url=https://github.com/corecathx"/>
        <script>
            const repo = location.pathname.split("/").pop();
            location.replace(`https://github.com/corecathx/${repo}`);
        </script>
    </head>
    <body style="background:#0d1117">
        <p>Opening GitHub...</p>
    </body>
</html>
