---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css"
---

<Layout title="Privacy Notice">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="mt-30 md:mt-50 text-5xl md:text-6xl font-extrabold text-left w-fit mb-12 gradient-text" data-aos="fade-up">
            Privacy Notice
            <span class="block mt-2 font-normal text-xl md:text-2xl">Here's how I handle data on this site.</span>
        </h2>
        <hr class="border-gray-800">
        <div class="mt-10 space-y-2">
            <h2 class="text-3xl md:text-4xl font-extrabold tracking-wide" data-aos="fade-up" data-aos-delay="100">
                CoreCat's GitHub Pages
            </h2>
            <p class="text-gray-400 text-justify" data-aos="fade-up" data-aos-delay="200">
                The cookie used in my site is used to track my site's view count, what stored in the cookie is
                whether you have opened this site for the first time. As of what data stored in cloud, it stores
                information about how many times (total) the site has been opened. No personal or device data is
                collected.
                <div class="border-l-10 pl-4 py-2 border-[#003090] rounded-lg" data-aos="fade-up" data-aos-delay="200">
                    <h3 class="text-xl md:text-2xl font-extrabold tracking-wide">Q: Why does this cookie required?</h3>
                    <p class="text-gray-400">I just wanted to know how many times my page have been opened.</p>
                </div>

            </p>
            <br>
            <h2 class="text-3xl md:text-4xl font-extrabold tracking-wide" data-aos="fade-up" data-aos-delay="100">
                Spotify Artist Embed
            </h2>
            <p class="text-gray-400 text-justify" data-aos="fade-up" data-aos-delay="200">
                This site uses Spotify Embeds, Spotify might collect informations about your device.
                <div class="border-l-10 pl-4 py-2 border-[#003090] rounded-lg" data-aos="fade-up" data-aos-delay="200">
                    <p class="text-gray-400">
                        Please refer to 
                        <a href="https://www.spotify.com/us/legal/privacy-policy/" class="gradient-text">
                            Spotify's Privacy Notice
                        </a>.
                    </p>
                </div>
            </p>
        </div>
    </div>
</Layout>
